<div class="page-header p-2">
  <div class="tabs">page header</div>
</div>
<div class="container">
  <div class="breadcrums my-2">breadcrums</div>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col">
          <h6>Total jobs in progress</h6>
          <h1>360</h1>
        </div>
        <div class="col">
          <h6>Total jobs in progress</h6>
          <h1>360</h1>
        </div>
        <div class="col">
          <h6>Total jobs in progress</h6>
          <h1>360</h1>
        </div>
        <div class="col">
          <h6>Total jobs in progress</h6>
          <h1>360</h1>
        </div>
        <div class="col">
          <h6>Total jobs in progress</h6>
          <h1>360</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="my-2">
    <div class="card">
      <div class="card-body">
        <p>Progress Status</p>
      </div>
    </div>
  </div>
</div>
