<div class="page-header shadow-sm d-flex align-items-center">
  <h6>Current Opportunities</h6>
  <button class="btn btn-primary btn-sm" [routerLink]="['../job-create']">
    Create New Job <i class="fa fa-plus"></i>
  </button>
</div>
<div class="container">
  <div class="sort-filter">
    <div class="sort">Sort by:</div>
    <div class="filter">Filter</div>
  </div>
  <div class="job-list">
    <div class="card" *ngFor="let item of currentOpenings">
      <div class="card-body">
        <div
          class="job-list-card d-flex justify-content-between align-items-center"
        >
          <div>
            <h6>{{ item.jobName }}</h6>
            <span>{{ item.location }}</span>
          </div>
          <div class="end-date">end date</div>
          <div class="recruitment-status">
            <div>12</div>
            <div>12</div>
            <div>12</div>
            <div>12</div>
            <div>12</div>
            <div>12</div>
          </div>
          <div class="communication">
            <div class="mail">mail</div>
            <div class="message">message</div>
            <div class="message-sent">message sent</div>
          </div>
          <div class="option">option</div>
        </div>
      </div>
    </div>
  </div>
</div>
