<div class="page-header shadow-sm d-flex align-items-center p-2">
  <h6>Current opportunities</h6>
  <button class="btn btn-primary btn-sm" [routerLink]="['../job-create']">
    Create New Job <i class="las la-plus"></i>
  </button>
</div>
<div class="container">
  <div class="sort-filter">
    <div class="sort">
      Sort by
      <div class="dropdown">
        <span
          id="dropdownMenuButton"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          class="pointer"
        >
          Tasks <i class="las la-angle-down"></i>
        </span>
        <div
          class="dropdown-menu dropdown-menu-right"
          aria-labelledby="dropdownMenuButton"
        >
          <div class="dropdown-item">Select view</div>

          <div class="dropdown-item">
            <input type="text" class="sortby-search" placeholder="search" />
          </div>
          <a class="dropdown-item" href="#">All Tasks</a>
          <a class="dropdown-item" href="#">New Tasks</a>
          <a class="dropdown-item" href="#">Overdue</a>
          <a class="dropdown-item" href="#">Today's Tasks</a>
          <a class="dropdown-item" href="#">Tomorrow's Tasks</a>
          <a class="dropdown-item" href="#">Today + Overdue</a>
          <a class="dropdown-item" href="#">Next 7 Days + Overdue</a>
          <a class="dropdown-item" href="#">Activity Logs</a>
        </div>
      </div>
      <i class="las la-arrow-down"></i>
    </div>
    <div class="filter">Filter <input type="text" class="filter-input" /></div>
  </div>
  <div class="job-list">
    <div class="card" *ngFor="let item of currentOpenings">
      <div class="card-body">
        <div
          class="job-list-card d-flex justify-content-between align-items-center"
        >
          <div class="job-info" [routerLink]="['../job-description']">
            <h6>{{ item.jobName }}</h6>
            <span class="location"
              ><i class="fa fa-building"></i>{{ item.location }}</span
            >
          </div>
          <div class="end-date">
            <circle-progress
              [percent]="30"
              [radius]="20"
              [outerStrokeWidth]="5"
              [space]="-5"
              [innerStrokeWidth]="5"
              [outerStrokeColor]="'#39B54A'"
              [innerStrokeColor]="'#F4F4F4'"
              [showUnits]="false"
              [showSubtitle]="false"
              [showInnerStroke]="true"
              [animation]="true"
              [animationDuration]="300"
            ></circle-progress>
            <div class="date-container">
              <span class="end-date-title">End Date</span>
              <span class="date">{{ item.endDate }}</span>
            </div>
          </div>
          <div class="recruitment-status">
            <div
              class="progress-indicator screening-outline"
              [tooltip]="Screening"
            >
              12
            </div>
            <div
              class="progress-indicator submissions-outline"
              [tooltip]="Submissions"
            >
              12
            </div>
            <div
              class="progress-indicator interview-outline"
              [tooltip]="Interview"
            >
              12
            </div>
            <div class="progress-indicator offered-outline" [tooltip]="Offered">
              12
            </div>
            <div class="progress-indicator hired-outline" [tooltip]="Hired">
              12
            </div>
          </div>
          <div class="communication">
            <div class="mail">
              <img src="../../../../assets/img/mail.svg" />2
            </div>
            <div class="message">
              <img src="../../../../assets/img/message.svg" />1500
            </div>
            <div class="message-sent">
              <img src="../../../../assets/img/message-sent.svg" />25
            </div>
            <div class="share">
              <img src="../../../../assets/img/share.svg" />1
            </div>
          </div>
          <div class="option">
            <div class="dropdown">
              <div
                id="dropdownMenuButton"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                class="pointer"
              >
                <i class="las la-ellipsis-h la-2x"></i>
              </div>
              <div
                class="dropdown-menu dropdown-menu-right"
                aria-labelledby="dropdownMenuButton"
              >
                <a class="dropdown-item" href="#">Edit</a>
                <a class="dropdown-item" href="#">Delete</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
