<nav class="navbar navbar-expand-md navbar-light">
  <a href="#" class="navbar-brand">
    <img src="/examples/images/logo.svg" height="28" alt="pihire admin" />
  </a>
  <button
    type="button"
    class="navbar-toggler"
    data-toggle="collapse"
    data-target="#navbarCollapse"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarCollapse">
    <div class="navbar-nav">
      <a href="#" class="nav-item nav-link active">Dashboard</a>
      <a [routerLink]="['/job-openings']" class="nav-item nav-link"
        >Job Openings</a
      >
      <a href="#" class="nav-item nav-link">Candidates</a>
      <a href="#" class="nav-item nav-link">Emails</a>
      <a href="#" class="nav-item nav-link">Assessments</a>
      <a href="#" class="nav-item nav-link">Clients</a>
      <a href="#" class="nav-item nav-link">Reports</a>
    </div>
    <div class="navbar-nav ml-auto d-flex align-items-center">
      <a href="#" class="nav-item nav-link"><i class="fa fa-bell fa-"></i></a>
      <a href="#" class="nav-item nav-link"><i class="fa fa-history"></i></a>
      <a href="#" class="nav-item nav-link"><i class="fa fa-cog"></i></a>
      <a href="#" class="nav-item nav-link">
        <span class="nav-profile">
          <img src="../../../assets/img/profile-1.jpg" class="inline-block" />
          <div class="profile-name">
            <span>Glenna Rath</span>
            <small>Administrator</small>
          </div>
        </span>
      </a>
    </div>
  </div>
</nav>
