<nav class="navbar navbar-expand-md">
  <a href="#" class="navbar-brand">
    <img
      src="../../../assets/img/logo.svg"
      height="40"
      width="30"
      alt="pihire admin"
    />
  </a>
  <button
    type="button"
    class="navbar-toggler"
    data-toggle="collapse"
    data-target="#navbarCollapse"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarCollapse">
    <div class="navbar-nav">
      <a href="#" class="nav-item nav-link active">Dashboard</a>
      <a [routerLink]="['/job-openings']" class="nav-item nav-link"
        >Job Openings</a
      >
      <a href="#" class="nav-item nav-link">Candidates</a>
      <a href="#" class="nav-item nav-link">Emails</a>
      <a href="#" class="nav-item nav-link">Assessments</a>
      <a href="#" class="nav-item nav-link">Reports</a>
    </div>
    <div class="navbar-nav ml-auto d-flex align-items-center">
      <a
        href="#"
        class="nav-item dropdown notification"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <div class="nav-link dropdown show">
          <i class="las la-bell la-2x"></i>
          <span class="badge">2</span>
          <div
            class="dropdown-menu dropdown-menu-right"
            aria-labelledby="navbarDropdown"
          >
            <div class="notification-header">New</div>
            <div class="dropdown-item">
              <div class="notify-img">
                <img
                  src="../../../assets/img/Image-13.png"
                  width="43"
                  height="43"
                  alt=""
                />
                <div class="notify-catagory">
                  <i class="fa fa-comments-o" aria-hidden="true"></i>
                </div>
              </div>
              <div class="notification-copy">
                <p>
                  Lorem ipsum dolor sit amet, conse adipiscing elit, sed do
                  eiusmod tempor incididunt ut labore
                </p>
                <div class="notification-time">2 Mins Ago</div>
                <span class="unread"></span>
              </div>
            </div>
            <div class="dropdown-divider"></div>
            <div class="dropdown-item">
              <div class="notify-img">
                <img
                  src="../../../assets/img/Image-13.png"
                  width="43"
                  height="43"
                  alt=""
                />
                <div class="notify-catagory">
                  <i class="fa fa-comments-o" aria-hidden="true"></i>
                </div>
              </div>
              <div class="notification-copy">
                <p>
                  Lorem ipsum dolor sit amet, conse adipiscing elit, sed do
                  eiusmod tempor incididunt ut labore
                </p>
                <div class="notification-time">2 Mins Ago</div>
                <span class="unread"></span>
              </div>
            </div>
          </div>
        </div>
      </a>
      <a href="#" class="nav-item nav-link"
        ><i class="las la-history la-2x"></i
      ></a>
      <a [routerLink]="['/general-settings']" class="nav-item nav-link"
        ><i class="las la-cog la-2x"></i
      ></a>
      <a href="#" class="nav-item nav-link">
        <span class="nav-profile">
          <img src="../../../assets/img/profile-1.jpg" class="inline-block" />
          <div class="profile-name">
            <span>Glenna Rath</span>
            <small>Administrator</small>
          </div>
        </span>
      </a>
    </div>
  </div>
</nav>
