<div class="tab-container align-items-center justify-content-center application-form">
    <div class="max-container w-100">
        <div class="">
            <div>
                <h6 class="medium-text">Application preferences</h6>
                <small  class="small-text">Personalize the application form.</small>
            </div>
            
        </div>
            <div class=" d-flex flex-wrap">
    
                <div class="application-form-fields"> 
                    <div class="d-flex justify-content-between w-100 border p-2">
                         <div>
                             <div class="d-flex">
                                <div><img _ngcontent-qhc-c77="" src="../../../../../assets/img/Image-12.png" alt="emmar" class="option-img mr-2"></div>
                                <div>Share to link</div>
                             </div>
                             
                            </div>
                         <div class="d-flex field-option align-items-center justify-content-end">
                            <input type="checkbox" id="passport-validation-required" name="passport-validation">

                         </div>
                         
                    </div>
                 </div>

            </div>
       
    </div>
</div>