<div class="page-header shadow-sm d-flex align-items-center">
  <h6><i class="las la-angle-left"></i> 85847 - Data Analyst</h6>
  <div class="tab-nav">
    <ul class="nav nav-tabs">
      <li class="nav-item active">
        <a class="nav-link" href="#">Job Description</a>
      </li>
      <li class="nav-item"><a class="nav-link" href="#">Pipeline</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Candidates</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Activities</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Notes</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Analytics</a></li>
    </ul>
  </div>
  <div class="d-flex w-25 justify-content-around align-items-center">
    <div>
      <i class="las la-plus-circle"></i>
      Team
    </div>
    <div>
      <i class="fa fa-pencil"></i>
      Edit
    </div>
    <button class="btn btn-primary btn-sm">
      New Candidate <i class="las la-plus"></i>
    </button>
  </div>
</div>
<div class="container">
  <div class="job-desc-container">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-3 border-right">
            <p>job-description works!</p>
          </div>
          <div class="col-md-3 border-right">
            <p>job-description works!</p>
          </div>
          <div class="col-md-3 border-right">
            <p>job-description works!</p>
          </div>
          <div class="col-md-3">
            <p>job-description works!</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-body">
            <h5>Job Description</h5>
            <p>
              Data analyst is responsible for collecting, organizing and
              maintaining our master data set along with building, developing
              and providing periodically, or upon request, the relevant business
              insights, reports, dashboards that assist in proper decision
              making to achieve rapid business growth and strong performance
              management of FFM KPIs. Experience as a data analyst, working with
              big data, deep understanding of data analysis tools and managing
              databases is essential to succeed in this role.
            </p>
            <h6 class="sub-title">Key Responsibilities</h6>
            <ul>
              <li>
                Interpret master complex data sets, analyze results using
                statistical techniques via data analysis and reporting tools
              </li>
              <li>
                Develop and implement databases, data collection systems, data
                analytics and other strategies that optimize statistical
                efficiency and quality
              </li>
              <li>
                Provide quality assurance of imported data to ensure data
                integrity
              </li>
              <li>
                Managing and designing the reporting environment, including data
                sources, security, and metadata.
              </li>
              <li>Locate and define new process improvement opportunities</li>
              <li>Generating reports from single or multiple systems.</li>
              <li>
                Troubleshooting the reporting database environment and reports.
              </li>
            </ul>
            <h6 class="sub-title">Qualifications</h6>
            <ul>
              <li>
                Interpret master complex data sets, analyze results using
                statistical techniques via data analysis and reporting tools
              </li>
              <li>
                Develop and implement databases, data collection systems, data
                analytics and other strategies that optimize statistical
                efficiency and quality
              </li>
              <li>
                Provide quality assurance of imported data to ensure data
                integrity
              </li>
              <li>
                Managing and designing the reporting environment, including data
                sources, security, and metadata.
              </li>
              <li>Locate and define new process improvement opportunities</li>
              <li>Generating reports from single or multiple systems.</li>
              <li>
                Troubleshooting the reporting database environment and reports.
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5>Mandatory Skills</h5>
            <p>job-description works!</p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5>Skill Tag</h5>
            <div class="skill-tag">
              <span class="badge">Data Analyst</span>
              <span class="badge">Business Intelligence</span>
              <span class="badge">Data Mining</span>
              <span class="badge">Primary</span>
              <span class="badge">SQL</span>
              <span class="badge">Programming</span>
              <span class="badge">Primary</span>
              <span class="badge">Primary</span>
              <span class="badge">Primary</span>
              <span class="badge">Primary</span>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <h5>Preferred Nationality</h5>
            <p>job-description works!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
