<div class="page-header shadow-sm d-flex align-items-center">
  <h6><i class="las la-angle-left"></i> 85847 - Data Analyst</h6>
  <div class="tab-nav">
    <ul class="nav nav-tabs">
      <li class="nav-item active">
        <a class="nav-link" href="#">Job Description</a>
      </li>
      <li class="nav-item"><a class="nav-link" href="#">Pipeline</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Candidates</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Activities</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Notes</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Analytics</a></li>
    </ul>
  </div>
  <div class="d-flex w-25 justify-content-around align-items-center">
    <div>
      <i class="las la-plus-circle"></i>
      Team
    </div>
    <div>
      <i class="fa fa-pencil"></i>
      Edit
    </div>
    <button class="btn btn-primary btn-sm">
      New Candidate <i class="las la-plus"></i>
    </button>
  </div>
</div>
<div class="container">
  <div class="job-desc-container">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-3">
            <p>job-description works!</p>
          </div>
          <div class="col-md-3">
            <p>job-description works!</p>
          </div>
          <div class="col-md-3">
            <p>job-description works!</p>
          </div>
          <div class="col-md-3">
            <p>job-description works!</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-body">
            <p>job-description works!</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <p>job-description works!</p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <p>job-description works!</p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <p>job-description works!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
