<div class="settings">
  <div class="sidenav">
    <ul>
      <li class="active">
        <a href="#">
          <i class="fa fa-cog fa-2x"></i>
          General</a
        >
      </li>
      <li>
        <a href="#"> <i class="las la-pencil-ruler fa-2x"></i>Custimize</a>
      </li>
      <li>
        <a href="#"><i class="lab la-chromecast fa-2x"></i>Automation</a>
      </li>
      <li>
        <a href="#"><i class="fa fa-desktop fa-2x"></i>Integrations</a>
      </li>
      <li>
        <a href="#"><i class="fa fa-database fa-2x"></i>Data</a>
      </li>
      <li>
        <a href="#"><i class="las la-blog la-2x"></i>Portal</a>
      </li>
    </ul>
  </div>
  <div class="container">
    <div class="settings-container">
      <div class="side-navigation p-4">
        <h6>General Settings</h6>
        <ul class="settings-menu">
          <li>
            <a href="#" class="active">Company Details</a>
            <i class="las la-angle-double-right"></i>
          </li>
          <li>
            <a href="#">User Roles</a>
            <i class="las la-angle-double-right"></i>
          </li>
          <li>
            <a href="#">Users</a>
            <i class="las la-angle-double-right"></i>
          </li>
          <li>
            <a href="#">Notifications</a>
            <i class="las la-angle-double-right"></i>
          </li>
          <li>
            <a href="#">SMTP Settings</a>
            <i class="las la-angle-double-right"></i>
          </li>
        </ul>
      </div>
      <div class="main-content p-4 border-left w-100">
        <h5>Company Profile</h5>
        <h5 class="setting-title">Company Details</h5>
        <div class="setting-details">
          <div class="company-details">
            <div class="row">
              <div class="col-md-6">
                <label for="">
                  <i class="las la-envelope la-2x"></i> Company Short Name
                </label>
              </div>
              <div class="col-md-6"><span>Company Short Name</span></div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label for=""
                  ><i class="las la-calendar la-2x"></i>Date Of Establisment
                </label>
              </div>
              <div class="col-md-6"><span>Date Of Establisment</span></div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label for=""><i class="las la-globe la-2x"></i>Country </label>
              </div>
              <div class="col-md-6"><span>Country </span></div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label for=""><i class="las la-map la-2x"></i> State </label>
              </div>
              <div class="col-md-6"><span> State</span></div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label for="">
                  <i class="las la-envelope la-2x"></i>City
                </label>
              </div>
              <div class="col-md-6"><span> City</span></div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label for=""
                  ><i class="las la-clock la-2x"></i>(Time & ISO) Zone
                </label>
              </div>
              <div class="col-md-6"><span>(Time & ISO) Zone</span></div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label for=""
                  ><i class="las la-phone la-2x"></i>Mobile Number
                </label>
              </div>
              <div class="col-md-6"><span>Mobile Number</span></div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label for=""><i class="las la-link la-2x"></i>Website </label>
              </div>
              <div class="col-md-6"><span>Website</span></div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <label for=""
                  ><i class="las la-id-card la-2x"></i>VAT Number
                </label>
              </div>
              <div class="col-md-6"><span>VAT Number</span></div>
            </div>
          </div>
          <div class="map-container">map</div>
        </div>
        <h5 class="setting-title">Location</h5>

        <div class="company-list">
          <div class="company-image">
            <img src="../../../assets/img/Image-12.png" alt="" />
          </div>
          <div>
            <label for="">Company Name</label>
            <p>Param Info Computer (PICC)</p>
          </div>
          <div>
            <label for="">Country</label>
            <p>United Arab Emirates</p>
          </div>
          <div>
            <label for="">State</label>
            <p>Dubai</p>
          </div>
          <div>
            <label for="">City</label>
            <p>Dubai</p>
          </div>
          <div>
            <i class="fas fa-eye fa-2x"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
