.application-form-fields{
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
    display: inline-flex;
    margin-bottom: 10px;
    margin-right: 10px;
    border: 1px solid #E2E2E2;
    padding: 6px;
    border-radius: 4px;
    color: #000000;
    align-items: center;
}
.application-form{
    .max-container{
        max-width: 746px!important;
    }
    i.icon {
        font-size: 10px;
        color: #828894;
        margin: 0 5px;
    }
    .field-option{
        line-height: 0px;
        min-width: 90px;
    }
}

