<div class="tab-container align-items-center justify-content-center">
    <div class="max-container w-100">
        <div>
            <label class="wizard-questions">Select your Process Unit.</label>
            <div class="box-input-type-container">
                <div class="box-input-type-option">
<!-- <input type="text" id="picc" class="box-input"> -->
                    <label for="picc" class="box-input-label">
                        <div class="options">PICC</div>
                        <div class="options-desc">ParamInfo Computer Consultancy</div>
                    </label>

                </div>
                <div class="box-input-type-option">
                    <!-- <input type="text" id="picc" class="box-input"> -->
                                        <label for="picc" class="box-input-label">
                                            <div class="options">PICC</div>
                                            <div class="options-desc">ParamInfo Computer Consultancy</div>
                                        </label>
                    
                                    </div>
            </div>
        </div>

    </div>

</div>
